.gallery{
  text-align: center;
  
  
}

.gallery .glry-container{
  display: flex;
  height: 45rem;
  
}

.gallery .main-imag{
  flex: 1;
  width: 100%;
  padding-left: 4rem;
}

.gallery .main-imag img{
  
  width: 100%;
  height: 84%;
  padding-top: 10%;
 
  padding-right: 1rem;
  object-fit: cover;

  
}

.gallery .sub-imags{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: .5rem;
 
  padding-left: .4rem;
}

.gallery .sub-imags img {
  width: 45%;
  height: 50% ;
  object-fit: contain;
}

.gallery button{
  width: 8rem;
  height: 2rem;
  border-radius: .5rem;
}

.map h1{
  text-align: center;
  
}


.map .location{
display: flex;

justify-content: center;

}

@media(max-width: 600px){
  .gallery .glry-container{
    display: flex;
    height: 20rem;  
  }

  .gallery .sub-imags{
    padding-top: 2rem;
    padding: 0; 
  }

  .glry-container .main-imag{
    padding-left: 0rem;
  }

  .main-imag img{
   object-fit: contain;
   
  }

  .gallery .sub-imags img{
    width: 4rem;
    height: 6rem;
    padding: 0;
  }

  
}